<app-toolbar></app-toolbar>
<div class="container" *ngIf="stats">
  <div class="row align-items-center" style="height: 30vh">

    <div class="col-4 text-center">
      <i class="fas fa-exclamation-triangle fa-2x pr-2"></i>

      <span>{{stats.errors}}</span>
    </div>

    <div class="col-4 text-center">
      <i class="fas fa-tachometer-alt fa-2x pr-2"></i>
      <span>{{stats.speed | number:'.0-0' }} chars/min</span>
    </div>

    <div class="col-4">
      <i class="fas fa-star fa-2x pr-2"></i>
      <span>123</span>
    </div>

  </div>

  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <div>
        <span *ngFor="let char of sentenceChars; let i = index" class="key" [class.error]="isKeyError(i)" [class.completed]="i < currentKeyIndex">{{char | transformIfNotLetter }}</span>
      </div>
    </div>
  </div>

</div>

<app-loader *ngIf="!stats"></app-loader>
